@use '../abstracts/variables' as *;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: $brand-color;
    text-decoration: none;
}

img {
    width: 100%;
}

.wrapper {
    background-color: #f4f7f9;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 9999px;

    &:hover {
        background: #cbd5e1;
    }
}