@use '../abstracts/variables' as *;

body {
    font-style: normal;
    font-weight: 500;
    font-size: $base-font-size;
    font-family: $font-gg-sans;
}
a {
    color: $a-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
    font-family: $font-gg-sans;
}

dd {
    margin-left: 25px;
}
