@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.category-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-grey;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  .item__group {
    display: flex;
    align-items: center;
    gap: 10px;

    &-icon {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      background: $brand-color;
    }

    &-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .icon-selected-chevron {
    width: 20px;
    height: 20px;
    
    svg {
      color: $gray-500;
    }
  }
}

.category-normal{
  width: 256px;
  flex-shrink: 0;
  display: none;
}

.category-modal{
  width: 100%;

  .category__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-title{
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: $title-color;
    }

    &-close--btn{
      height: 36px;
      width: 36px;
      padding: 8px;
      border-radius: 9999px;
      cursor: pointer;

      &:hover{
        background-color: $category-hover;
      }
    }
  }
}

.category {
  top: 16px;
  position: sticky;
  background-color: $light-grey;
  border-radius: 10px;
  padding: 16px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
              var(--tw-ring-shadow, 0 0 #0000),
              var(--tw-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.05));

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $title-color;
    margin-bottom: 16px;
  }

  &__dropdown{
    display: none;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 28px;
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4,0,.2,1);

      &:not(.category__wrap-item--selected):hover {
        background-color: $category-hover;
        border-radius: 6px;
      }

      &--selected {
        background-color: $category-selected;
        border-radius: 6px;

        .item__group {
          &-name {
            color: $light-grey;
          }
        }

        .category__wrap-item-count {
          opacity: .75;
          color: $light-grey;
        }
      }

      .item__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        &-icon {
          width: 30px;
          height: 30px;
          border-radius: 8px;
          background-color: $brand-color;
        }

        &-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &-count {
        font-size: 12px;
        line-height: 16px;
        color: $gray-500;
      }
    }
  }
}

@include min-media(large) {
  .category-normal{
    display: block;
  }

  .category-dropdown{
    display: none;
  }

  .overlay-model{
    display: none !important;
  }
}



