@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.doc {
    flex: 1 1 0%;

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $title-color;
        margin-bottom: 24px;

        @include min-media(large) {
            font-size: 20px;
            line-height: 28px;
        }

        @include min-media(tablet) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-item {
            display: flex;
            justify-content: space-between;
            background-color: rgb(243 244 246);
            border-radius: 12px;
            cursor: pointer;
            transition-duration: .2s;
            transition-property: box-shadow;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            box-shadow:
                0 0 0 0 #0000,
                0 0 0 0 #0000,
                0 1px 2px 0 rgba(0, 0, 0, 0.05);
            text-decoration: none;

            &:hover{
                box-shadow: 
                    0 0 0 0 transparent, /* offset shadow placeholder (trống) */
                    0 0 0 0 transparent, /* ring shadow placeholder (trống) */
                    0 4px 6px -1px rgba(0, 0, 0, 0.1),
                    0 2px 4px -2px rgba(0, 0, 0, 0.1);
                text-decoration: none;
            }
            
            &-image{
                flex-shrink: 0;
                width: 96px;
                height: 96px;

                
                @include min-media(tablet) {
                    width: 160px;
                    height: 112px;
                }
                @include min-media(medium) {
                    width: 192px;
                    height: 128px;
                }

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    border-bottom-left-radius: 12px;
                    border-top-left-radius: 12px;
                }
            }

            &-content {
                flex: 1 1 0%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 4px;
                padding: 12px 16px;

                .item__group{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &-image{
                        width: 30px;
                        height: 30px;
                        border: 1px solid rgb(186, 186, 186);
                        border-radius: 50%;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            margin: 0;
                        }
                    }

                    &-name{
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 700;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $title-color;

                        @include min-media(medium) {
                            font-size: 18px;
                            line-height: 28px;
                        }

                        @include min-media(tablet) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    &-online {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        &-icon {
                            width: 8px;
                            height: 8px;
                            background-color: rgb(34 197 94);
                            border-radius: 9999px;
                        }

                        &-text{
                            font-size: 10px;
                            color: $gray-500;

                            @include min-media(medium) {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }

                    &-dot{
                        background-color: rgb(209 213 219);
                        width: 4px;
                        height: 4px;
                    }

                    &-members{
                        font-size: 10px;
                        color: rgb(107 114 128);

                        @include min-media(medium) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }

                .item__type{
                    font-size: 12px;
                    line-height: 16px;
                    color: rgb(55 65 81 );

                    @include min-media(medium) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .item__status{
                    background-color: rgb(229 231 235);
                    display: inline-flex;
                    align-items: center;
                    gap: 4px;
                    padding: 1px 6px;
                    border-radius: 4px;
                    font-size: 10px;
                    color: rgb(156 163 175); 

                    @include min-media(medium) {
                        font-size: 12px;
                        line-height: 16px;
                        padding: 2px 8px;
                    }

                    svg{
                        width: 16px;
                        height: 16px;
                        color: rgb(156 163 175);
                    }
                }
            }
        }
    }
}