.mezon-platform {
        .lst-kix_3c4sz2thnsog-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_qsop63r2jahh-8 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-6 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-7 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_3c4sz2thnsog-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-4 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-5 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-2 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-3 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-0 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-1 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_hvcfzsbz6aki-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_hvcfzsbz6aki-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_3c4sz2thnsog-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_3c4sz2thnsog-1 {
            list-style-type: none
        }

        .lst-kix_hvcfzsbz6aki-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_3c4sz2thnsog-2 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-3 {
            list-style-type: none
        }

        .lst-kix_hvcfzsbz6aki-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_3c4sz2thnsog-4 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_3c4sz2thnsog-5 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-6 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-7 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-8 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_6yqnldcb19gu-1 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_6yqnldcb19gu-0 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-3 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-2 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_6yqnldcb19gu-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_73qekx9g2vc1-8 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-7 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_qsop63r2jahh-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_73qekx9g2vc1-6 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-5 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-0 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_73qekx9g2vc1-4 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-8 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-5 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-4 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-7 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-6 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_hvcfzsbz6aki-1 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-0 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-3 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-2 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-5 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-4 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_73qekx9g2vc1-3 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_qsop63r2jahh-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_73qekx9g2vc1-2 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-1 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-0 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-7 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_hvcfzsbz6aki-6 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-8 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_qsop63r2jahh-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_6yqnldcb19gu-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_6yqnldcb19gu-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_6yqnldcb19gu-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_73qekx9g2vc1-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_hvcfzsbz6aki-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_3c4sz2thnsog-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_3c4sz2thnsog-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_73qekx9g2vc1-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-1>li:before {
            content: "\0025cb   "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c0 {
            color: #080809;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11.5pt;
            font-style: normal
        }

        .c6 {
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            font-weight: 400;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c11 {
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            color: #1155cc;
            text-decoration: underline
        }

        .c7 {
            padding: 72pt 72pt 72pt 72pt
        }

        .c5 {
            color: #080809;
            font-size: 11.5pt
        }

        .c8 {
            color: inherit;
            text-decoration: inherit
        }

        .c3 {
            font-size: 12pt
        }

        .c2 {
            height: 11pt
        }

        .c9 {
            font-size: 14pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    }