@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.post-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 32px;

    @include media(medium) {
        font-size: 14px;
    }

    .content__header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .content__header-info {
            display: flex;
            flex-direction: column;
            padding: 0 32px;

            @include media(medium) {
                padding: 0 0;
            }

            .header-info__stats {
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: space-between;

                @include media-width(320) {
                    flex-direction: column;
                    gap: 16px;
                }

                .header-info__stats--left {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .stats__avatar {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 10%;
                        border: 1px solid #E0E0E0;
                    }
                }
                }

                .header-info__stats--right {    
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }

        .content__header-banner {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 8px;
                object-fit: cover;
                display: block;
                margin-top: 16px;
                margin-bottom: 16px;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                    0 4px 6px -4px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .content__body {
        padding: 0 32px;

        @include media(medium) {
            padding: 0 0;
        }
    }
}