.top-five-discord{
        .lst-kix_3c4sz2thnsog-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_qsop63r2jahh-8 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-0 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-1 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-6 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-2 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-7 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-3 {
            list-style-type: none
        }

        .lst-kix_2j0xndk1x87p-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_3c4sz2thnsog-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_3c4sz2thnsog-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-4 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-4 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-5 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-5 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-8 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-2 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-6 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-3 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-7 {
            list-style-type: none
        }

        .lst-kix_2j0xndk1x87p-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_3c4sz2thnsog-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_qsop63r2jahh-0 {
            list-style-type: none
        }

        ul.lst-kix_ooum8s3cgk8s-8 {
            list-style-type: none
        }

        ul.lst-kix_qsop63r2jahh-1 {
            list-style-type: none
        }

        .lst-kix_2j0xndk1x87p-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_2j0xndk1x87p-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_iso153fkb07g-3 {
            list-style-type: none
        }

        ul.lst-kix_iso153fkb07g-2 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_iso153fkb07g-1 {
            list-style-type: none
        }

        ul.lst-kix_iso153fkb07g-0 {
            list-style-type: none
        }

        ul.lst-kix_iso153fkb07g-7 {
            list-style-type: none
        }

        ul.lst-kix_iso153fkb07g-6 {
            list-style-type: none
        }

        .lst-kix_73qekx9g2vc1-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dvzg3a8quvhf-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_iso153fkb07g-5 {
            list-style-type: none
        }

        ul.lst-kix_iso153fkb07g-4 {
            list-style-type: none
        }

        .lst-kix_dvzg3a8quvhf-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_iso153fkb07g-8 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-6 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-7 {
            list-style-type: none
        }

        .lst-kix_dvzg3a8quvhf-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dvzg3a8quvhf-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_sfeaxlarey7x-4 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-5 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-2 {
            list-style-type: none
        }

        ul.lst-kix_sfeaxlarey7x-3 {
            list-style-type: none
        }

        .lst-kix_73qekx9g2vc1-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dvzg3a8quvhf-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_sfeaxlarey7x-0 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_sfeaxlarey7x-1 {
            list-style-type: none
        }

        .lst-kix_v565em3x2yus-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_v6w1vlxiyerj-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v565em3x2yus-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v6w1vlxiyerj-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_v565em3x2yus-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_v6w1vlxiyerj-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_73qekx9g2vc1-8 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-7 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-6 {
            list-style-type: none
        }

        .lst-kix_v565em3x2yus-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_73qekx9g2vc1-5 {
            list-style-type: none
        }

        .lst-kix_v6w1vlxiyerj-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_73qekx9g2vc1-4 {
            list-style-type: none
        }

        .lst-kix_2j0xndk1x87p-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_v565em3x2yus-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_v6w1vlxiyerj-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_2j0xndk1x87p-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_2j0xndk1x87p-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_2j0xndk1x87p-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_2j0xndk1x87p-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v565em3x2yus-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v565em3x2yus-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_v6w1vlxiyerj-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_v565em3x2yus-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_v6w1vlxiyerj-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_v6w1vlxiyerj-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v565em3x2yus-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_v6w1vlxiyerj-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_hvcfzsbz6aki-1 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-0 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-6 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-3 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-5 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-2 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-8 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-5 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-7 {
            list-style-type: none
        }

        ul.lst-kix_hvcfzsbz6aki-4 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-2 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-1 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_lulm798cli00-4 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-3 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-0 {
            list-style-type: none
        }

        ul.lst-kix_lulm798cli00-0 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-5 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-3 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-6 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_qsop63r2jahh-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_73qekx9g2vc1-2 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-7 {
            list-style-type: none
        }

        ul.lst-kix_73qekx9g2vc1-1 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-8 {
            list-style-type: none
        }

        .lst-kix_dfalwdvna031-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_73qekx9g2vc1-0 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-1 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-2 {
            list-style-type: none
        }

        ul.lst-kix_v565em3x2yus-3 {
            list-style-type: none
        }

        .lst-kix_sfeaxlarey7x-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_v565em3x2yus-4 {
            list-style-type: none
        }

        .lst-kix_dfalwdvna031-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_hvcfzsbz6aki-7 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_hvcfzsbz6aki-6 {
            list-style-type: none
        }

        .lst-kix_sfeaxlarey7x-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_hvcfzsbz6aki-8 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_qsop63r2jahh-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_sfeaxlarey7x-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dfalwdvna031-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ux1exsyrjclv-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dfalwdvna031-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dfalwdvna031-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ux1exsyrjclv-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dfalwdvna031-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dfalwdvna031-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_73qekx9g2vc1-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_sfeaxlarey7x-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_hvcfzsbz6aki-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dfalwdvna031-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_sfeaxlarey7x-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_hvcfzsbz6aki-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_iso153fkb07g-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_iso153fkb07g-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_iso153fkb07g-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_iso153fkb07g-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_73qekx9g2vc1-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_73qekx9g2vc1-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dfalwdvna031-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_iso153fkb07g-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ooum8s3cgk8s-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ooum8s3cgk8s-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_iso153fkb07g-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ooum8s3cgk8s-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_iso153fkb07g-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_ooum8s3cgk8s-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ooum8s3cgk8s-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_hvcfzsbz6aki-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ux1exsyrjclv-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ux1exsyrjclv-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sfeaxlarey7x-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_6yqnldcb19gu-1 {
            list-style-type: none
        }

        .lst-kix_ux1exsyrjclv-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_6yqnldcb19gu-0 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-3 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-2 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sfeaxlarey7x-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_6yqnldcb19gu-8 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-5 {
            list-style-type: none
        }

        .lst-kix_ux1exsyrjclv-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_6yqnldcb19gu-4 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-7 {
            list-style-type: none
        }

        ul.lst-kix_6yqnldcb19gu-6 {
            list-style-type: none
        }

        .lst-kix_wcclbowsuiak-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_wcclbowsuiak-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_6yqnldcb19gu-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_swchxd1vhbfd-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dvzg3a8quvhf-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_6yqnldcb19gu-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_swchxd1vhbfd-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_swchxd1vhbfd-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_dvzg3a8quvhf-2>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_nv3g3v6gwpzv-8 {
            list-style-type: none
        }

        .lst-kix_swchxd1vhbfd-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_wcclbowsuiak-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_nv3g3v6gwpzv-4 {
            list-style-type: none
        }

        ul.lst-kix_nv3g3v6gwpzv-5 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_nv3g3v6gwpzv-6 {
            list-style-type: none
        }

        ul.lst-kix_nv3g3v6gwpzv-7 {
            list-style-type: none
        }

        ul.lst-kix_nv3g3v6gwpzv-0 {
            list-style-type: none
        }

        ul.lst-kix_nv3g3v6gwpzv-1 {
            list-style-type: none
        }

        ul.lst-kix_nv3g3v6gwpzv-2 {
            list-style-type: none
        }

        .lst-kix_wcclbowsuiak-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_nv3g3v6gwpzv-3 {
            list-style-type: none
        }

        .lst-kix_swchxd1vhbfd-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_fns3bdlyjsx3-5 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-8 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-4 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-3 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-2 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-1 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-4 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-0 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-5 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-6 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-7 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-0 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-1 {
            list-style-type: none
        }

        ul.lst-kix_v6w1vlxiyerj-2 {
            list-style-type: none
        }

        .lst-kix_lulm798cli00-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_v6w1vlxiyerj-3 {
            list-style-type: none
        }

        .lst-kix_fns3bdlyjsx3-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_lulm798cli00-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_lulm798cli00-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_fns3bdlyjsx3-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_lulm798cli00-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_lulm798cli00-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fns3bdlyjsx3-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_lulm798cli00-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_swchxd1vhbfd-2 {
            list-style-type: none
        }

        ul.lst-kix_swchxd1vhbfd-1 {
            list-style-type: none
        }

        ul.lst-kix_swchxd1vhbfd-0 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_lulm798cli00-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_swchxd1vhbfd-6 {
            list-style-type: none
        }

        ul.lst-kix_swchxd1vhbfd-5 {
            list-style-type: none
        }

        ul.lst-kix_swchxd1vhbfd-4 {
            list-style-type: none
        }

        .lst-kix_6yqnldcb19gu-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_swchxd1vhbfd-3 {
            list-style-type: none
        }

        ul.lst-kix_swchxd1vhbfd-8 {
            list-style-type: none
        }

        .lst-kix_lulm798cli00-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_6yqnldcb19gu-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_6yqnldcb19gu-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_swchxd1vhbfd-7 {
            list-style-type: none
        }

        .lst-kix_lulm798cli00-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_6yqnldcb19gu-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_6yqnldcb19gu-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_fns3bdlyjsx3-8 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-7 {
            list-style-type: none
        }

        ul.lst-kix_fns3bdlyjsx3-6 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-1 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-2 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-0 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-6 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-5 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-7 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-6 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-8 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-3 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-4 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-2 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-3 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-4 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-7 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-5 {
            list-style-type: none
        }

        ul.lst-kix_ux1exsyrjclv-8 {
            list-style-type: none
        }

        .lst-kix_nv3g3v6gwpzv-8>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_dfalwdvna031-0 {
            list-style-type: none
        }

        ul.lst-kix_dfalwdvna031-1 {
            list-style-type: none
        }

        .lst-kix_nv3g3v6gwpzv-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_nv3g3v6gwpzv-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_nv3g3v6gwpzv-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fns3bdlyjsx3-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_nv3g3v6gwpzv-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fns3bdlyjsx3-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_nv3g3v6gwpzv-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_nv3g3v6gwpzv-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_nv3g3v6gwpzv-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fns3bdlyjsx3-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fns3bdlyjsx3-6>li:before {
            content: "\0025cf   "
        }

        .lst-kix_fns3bdlyjsx3-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_nv3g3v6gwpzv-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_fns3bdlyjsx3-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_ooum8s3cgk8s-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_iso153fkb07g-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ooum8s3cgk8s-7>li:before {
            content: "\0025cb   "
        }

        .lst-kix_iso153fkb07g-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_2j0xndk1x87p-3 {
            list-style-type: none
        }

        ul.lst-kix_2j0xndk1x87p-2 {
            list-style-type: none
        }

        .lst-kix_ooum8s3cgk8s-1>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_2j0xndk1x87p-1 {
            list-style-type: none
        }

        ul.lst-kix_2j0xndk1x87p-0 {
            list-style-type: none
        }

        ul.lst-kix_2j0xndk1x87p-7 {
            list-style-type: none
        }

        ul.lst-kix_2j0xndk1x87p-6 {
            list-style-type: none
        }

        ul.lst-kix_2j0xndk1x87p-5 {
            list-style-type: none
        }

        .lst-kix_hvcfzsbz6aki-4>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_2j0xndk1x87p-4 {
            list-style-type: none
        }

        .lst-kix_ooum8s3cgk8s-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_2j0xndk1x87p-8 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-1 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-2 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-3 {
            list-style-type: none
        }

        .lst-kix_hvcfzsbz6aki-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_hvcfzsbz6aki-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_sfeaxlarey7x-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_sfeaxlarey7x-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_3c4sz2thnsog-4 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-5 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-6 {
            list-style-type: none
        }

        .lst-kix_ux1exsyrjclv-3>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_3c4sz2thnsog-7 {
            list-style-type: none
        }

        ul.lst-kix_3c4sz2thnsog-8 {
            list-style-type: none
        }

        .lst-kix_qsop63r2jahh-8>li:before {
            content: "\0025a0   "
        }

        .lst-kix_ux1exsyrjclv-5>li:before {
            content: "\0025a0   "
        }

        .lst-kix_qsop63r2jahh-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_3c4sz2thnsog-0 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-6 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-5 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-8 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-7 {
            list-style-type: none
        }

        .lst-kix_ux1exsyrjclv-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_wcclbowsuiak-0 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-2 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-1 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-4 {
            list-style-type: none
        }

        ul.lst-kix_wcclbowsuiak-3 {
            list-style-type: none
        }

        .lst-kix_wcclbowsuiak-4>li:before {
            content: "\0025cb   "
        }

        .lst-kix_wcclbowsuiak-2>li:before {
            content: "\0025a0   "
        }

        .lst-kix_wcclbowsuiak-0>li:before {
            content: "\0025cf   "
        }

        .lst-kix_dvzg3a8quvhf-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_6yqnldcb19gu-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_swchxd1vhbfd-1>li:before {
            content: "\0025cb   "
        }

        .lst-kix_dvzg3a8quvhf-3>li:before {
            content: "\0025cf   "
        }

        .lst-kix_swchxd1vhbfd-3>li:before {
            content: "\0025cf   "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        .lst-kix_swchxd1vhbfd-7>li:before {
            content: "\0025cb   "
        }

        ul.lst-kix_dvzg3a8quvhf-8 {
            list-style-type: none
        }

        .lst-kix_3c4sz2thnsog-0>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_dvzg3a8quvhf-5 {
            list-style-type: none
        }

        .lst-kix_swchxd1vhbfd-5>li:before {
            content: "\0025a0   "
        }

        ul.lst-kix_dvzg3a8quvhf-4 {
            list-style-type: none
        }

        ul.lst-kix_dvzg3a8quvhf-7 {
            list-style-type: none
        }

        .lst-kix_wcclbowsuiak-6>li:before {
            content: "\0025cf   "
        }

        ul.lst-kix_dvzg3a8quvhf-6 {
            list-style-type: none
        }

        ul.lst-kix_dvzg3a8quvhf-1 {
            list-style-type: none
        }

        ul.lst-kix_dvzg3a8quvhf-0 {
            list-style-type: none
        }

        ul.lst-kix_dvzg3a8quvhf-3 {
            list-style-type: none
        }

        ul.lst-kix_dvzg3a8quvhf-2 {
            list-style-type: none
        }

        .lst-kix_wcclbowsuiak-8>li:before {
            content: "\0025a0   "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c0 {
            margin-left: 36pt;
            padding-top: 4pt;
            padding-left: 0pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c1 {
            color: #081b3a;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c20 {
            color: #434343;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-style: normal
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c3 {
            padding-top: 12pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c21 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c12 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c26 {
            padding-top: 12pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c18 {
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-style: normal
        }

        .c15 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c11 {
            padding-top: 4pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c24 {
            padding-top: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c8 {
            font-size: 13pt;
            color: #081b3a;
            font-weight: 400
        }

        .c6 {
            color: #081b3a;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c22 {
            font-size: 20px;
            font-weight: 700;
        }

        .c19 {
            max-width: 451.4pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c25 {
            font-size: 13pt;
            font-weight: 400
        }

        .c23 {
            font-size: 14pt;
            font-weight: 400;
        }

        .c2 {
            font-size: 13pt;
            font-weight: 700;
        }

        .c14 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c13 {
            color: #081b3a
        }

        .c10 {
            padding: 0;
            margin: 0
        }

        .c17 {
            color: #000000
        }

        .c16 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
}