
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=FIXME
API_TOKEN_SALT=FIXME
ADMIN_JWT_SECRET=FIXME
TRANSFER_TOKEN_SALT=FIXME
ENCRYPTION_KEY=FIXME

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5439
DATABASE_NAME=postgres
DATABASE_USERNAME=dev
DATABASE_PASSWORD=password
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=FIME
REFRESH_JWT_SECRET=FIXME


MINIO_ENDPOINT=localhost
MINIO_BUCKET=mezonblogs
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SIGNED_URL_EXPIRES=900
MINIO_USE_SSL=false
