
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=FIXME
API_TOKEN_SALT=FIXME
ADMIN_JWT_SECRET=FIXME
TRANSFER_TOKEN_SALT=FIXME
ENCRYPTION_KEY=FIXME

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5439
DATABASE_NAME=mezonblogs
DATABASE_USERNAME=dev
DATABASE_PASSWORD=password
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=FIME
REFRESH_JWT_SECRET=FIXME


AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_BASE_URL=http://localhost:9000/mezonblogs
AWS_ENDPOINT=localhost
AWS_REGION=us-east-1
AWS_BUCKET=mezonblogs
AWS_FOLDER=images

PREVIEW_SECRET=preview-secret
CLIENT_URL=http://localhost:1338