<div class="c7 create-clan">
    <p class="c2"><span class="c6" style="font-size: 20px;">&#128184; &#119810;&#119825;&#119812;&#119808;&#119827;&#119812; &#119808;
            &#119810;&#119819;&#119808;&#119821; &#119822;&#119821; &#119820;&#119812;&#119833;&#119822;&#119821;
            &ndash; &#119814;&#119812;&#119827; &#120783;&#120782;&#120782;,&#120782;&#120782;&#120782;
            &#119829;&#119821;&#119811;
            &#119816;&#119821;&#119826;&#119827;&#119808;&#119821;&#119827;&#119819;&#119832; &#128184;</span></p>
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">Are you ready to become a leader and receive 100,000 Tokens from Mezon?</span></p>
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">Simply follow these four easy steps as shown in the image:</span></p>
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">- Step 1: Download the Mezon app on Mobile via App Store (iOS) or CH Play (Android),
            or use it on Desktop.</span></p>

    <img src="https://mezon.ai/blogs/assets/images/download-mezon.png" alt="download-mezon" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>
    
    <p class="c2"><span class="c1">- Step 2: Create your clan.</span></p>

    <img src="https://mezon.ai/blogs/assets/images/create-your-clan.png" alt="create-your-clan.png" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c2"><span class="c1">- Step 3: Complete the onboarding process to set up your clan:</span></p>
    <p class="c2"><span class="c1">Create at least 3 missions for your members.</span></p>
    <p class="c2"><span class="c1">Add at least 3 questions to screen new members.</span></p>

    <img src="https://mezon.ai/blogs/assets/images/completed-onboarding.png" alt="completed-onboarding.png" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c2"><span class="c1">- Step 4: Invite at least 10 people to join and complete the onboarding. Once done,
            your Tokens will automatically be credited to your account!</span></p>

    <img src="https://mezon.ai/blogs/assets/images/invite-friends.png" alt="invite-friends" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>
    
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">With Mezon &ndash; The Next-Gen Chat Platform, you can:</span></p>
    <p class="c2"><span class="c1">&#9989; Easily connect and build your community your way.</span></p>
    <p class="c2"><span class="c1">&#9989; Manage members and engage without limits.</span></p>
    <p class="c2"><span class="c1">&#9989; Earn exciting token rewards &ndash; join and get rewarded!</span></p>
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">Limited-time offer &ndash; DOWNLOAD NOW!</span></p>
    <p class="c2"><span class="c1">&#128073; Get the app on mobile and desktop: <a href="https://mezon.ai/">https://mezon.ai/</a></span></p>
    <p class="c2 c5"><span class="c1"></span></p>
    <p class="c2"><span class="c1">#Mezon #100K VND #CreateClanGetRewarded #ChatToEarn</span></p>
    <p class="c2"><span class="c1">------------</span></p>
    <p class="c2"><span class="c1">&#128226; MEZON &ndash; YOUR COMMUNITY, YOUR RULES!</span></p>
    <p class="c2"><span class="c1">A product proudly developed by the engineers at NCCPLUS VIETNAM.</span></p>
    <p class="c2"><span class="c1">&#127760; Website: <a href="https://mezon.ai/">https://mezon.ai/</a></span></p>
    <p class="c2"><span class="c1">&#128231; Email: info@ncc.asia</span></p>
    <p class="c2"><span class="c3">&#128222; Hotline: 024.6687.4606</span></p>
    <p class="c2 c5"><span class="c0"></span></p>
    <p class="c2 c5"><span class="c4"></span></p>
</div>