
  <div class="c7 c20 judging-panel">
    <p class="c16 c7">
      <span class="c4">&#128293; </span
      ><span class="c2 c18"
        >[&#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;
        | &#119809;&#119848;&#119853;
        &#119809;&#119834;&#119853;&#119853;&#119845;&#119838; &ndash; Powered
        by Mezon] C&Ocirc;NG B&#7888; D&Agrave;N BAN GI&Aacute;M KH&#7842;O
        QUY&#7872;N L&#7920;C C&#7910;A MMBC 2025<br /></span
      ><span class="c4">&nbsp;&#127919; </span
      ><span class="c2 c10 c17"
        >Ai s&#7869; l&agrave; ng&#432;&#7901;i &ldquo;c&#7847;m c&acirc;n
        n&#7843;y m&#7921;c&rdquo; cho s&#7843;n ph&#7849;m c&#7911;a
        b&#7841;n?</span
      >
    </p>
    <p class="c16 c7">
      <span class="c0"
        >&#272;&#7857;ng sau m&#7895;i cu&#7897;c thi c&ocirc;ng ngh&#7879;
        l&agrave; nh&#7919;ng ng&#432;&#7901;i &ldquo;g&aacute;c
        c&#7893;ng&rdquo; &#273;&#7847;y kinh nghi&#7879;m v&agrave; t&#432; duy
        &#273;&#7893;i m&#7899;i &ndash; ch&iacute;nh h&#7885; s&#7869;
        l&agrave; ng&#432;&#7901;i nh&igrave;n th&#7845;y ti&#7873;m n&#259;ng
        t&#7915; nh&#7919;ng d&ograve;ng code c&#7911;a b&#7841;n, gi&uacute;p
        b&#7841;n ti&#7871;n xa h&#417;n tr&ecirc;n h&agrave;nh tr&igrave;nh
        tr&#7903; th&agrave;nh developer th&#7921;c chi&#7871;n.</span
      >
    </p>
    <p class="c16 c7">
      <span class="c4">&#128161; </span
      ><span class="c2 c18"
        >Ban Gi&aacute;m Kh&#7843;o cu&#7897;c thi Bot Battle &ndash; Powered by
        Mezon</span
      ><span class="c0"
        >&nbsp;kh&ocirc;ng ch&#7881; &#273;&aacute;nh gi&aacute; c&ocirc;ng
        t&acirc;m &ndash; m&agrave; c&ograve;n l&agrave; ng&#432;&#7901;i
        th&#7847;y, ng&#432;&#7901;i &#273;&#7891;ng h&agrave;nh,
        ng&#432;&#7901;i m&#7903; l&#7889;i cho nh&#7919;ng &yacute;
        t&#432;&#7903;ng bot AI t&aacute;o b&#7841;o nh&#7845;t.</span
      >
    </p>
    <p class="c7 c16" style="padding-bottom: 0px;">
      <span class="c4">&#128073; </span
      ><span class="c2 c18"
        >C&ugrave;ng kh&aacute;m ph&aacute; &#273;&#7897;i ng&#361; gi&aacute;m
        kh&#7843;o quy&#7873;n l&#7921;c c&#7911;a v&ograve;ng chung k&#7871;t
        th&aacute;ng n&agrave;y!<br /></span
      ><span class="c4"
        >&nbsp;V&agrave; n&#7871;u b&#7841;n ch&#432;a k&#7883;p tham gia
        th&aacute;ng 6, &#273;&#7915;ng lo &ndash; </span
      ><span class="c2 c18"
        >th&aacute;ng 7 v&#7851;n c&ograve;n c&#417; h&#7897;i b&ugrave;ng
        n&#7893; d&agrave;nh cho b&#7841;n!</span
      >
    </p>
    <p class="c3 c7">
      <span class="c4">-------------------------------------------</span>
    </p>
    <p class="c1">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#10024;"
          src="{{ "star.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 10px;
          "
          title="" /></span
      ><span class="c4">&nbsp;</span
      ><span class="c6 c8"
        >Anh &#272;&#7895; Tr&#7885;ng Trung - &nbsp;Resource Management Officer
        - Product Manager t&#7841;i NCCPLUS VIETNAM - Th&#7841;c s&#297; kinh
        t&#7871; v&agrave; t&agrave;i ch&iacute;nh c&#7911;a &#272;&#7841;i
        h&#7885;c Rhein Waal &#7903; &#272;&#7913;c.</span
      >
    </p>
    <img src="https://mezon.ai/blogs/assets/images/do-trong-trung.png" class="judging-panel__img" alt="do-trong-trung"/>
    <p class="c1 c13"><span class="c8 c6"></span></p>
    <p class="c1">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#10024;"
          src="{{ "star.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 10px;
          "
          title="" /></span
      ><span class="c4"
        >Anh L&ecirc; Xu&acirc;n Huy - Developer t&#7841;i c&ocirc;ng ty </span
      ><span class="c6">NCCPLUS VIETNAM</span
      ><span class="c0"
        >, v&#7899;i h&#417;n 8 n&#259;m kinh nghi&#7879;m ph&aacute;t
        tri&#7875;n ph&#7847;n m&#7873;m, t&#7915;ng tham gia nhi&#7873;u
        d&#7921; &aacute;n t&#7915; Website &#273;&#7871;n Mobile v&agrave;
        h&#7907;p t&aacute;c c&ugrave;ng c&aacute;c &#273;&#7889;i t&aacute;c
        qu&#7889;c t&#7871;.</span
      >
    </p>
    <img src="https://mezon.ai/blogs/assets/images/le-xuan-huy.png" class="judging-panel__img" alt="le-xuan-huy"/>
    <p class="c1 c13"><span class="c0"></span></p>
    <p class="c1">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#10024;"
          src="{{ "star.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 10px;
          "
          title="" /></span
      ><span class="c4">Anh Mai H&#7891;ng M&#7853;n - </span
      ><span class="c8 c6"
        >&nbsp;L&#7853;p tr&igrave;nh vi&ecirc;n t&#7841;i c&ocirc;ng ty NCCPLUS
        VIETNAM - L&#7853;p tr&igrave;nh vi&ecirc;n Front-end (Reactjs, NextJs,
        Angular) - L&#7853;p tr&igrave;nh vi&ecirc;n Back-end (NodeJs, NestJs).
        Hi&#7879;n t&#7841;i &#273;ang l&agrave; Front-end d&#7921; &aacute;n
        BountyKinds v&agrave; Back-end BOT team Mezon.</span
      >
    </p>
    <img src="https://mezon.ai/blogs/assets/images/mai-hong-man.png" class="judging-panel__img" alt="mai-hong-man"/>
    <p class="c1 c13"><span class="c8 c6"></span></p>
    <p class="c1">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#10024;"
          src="{{ "star.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 10px;
          "
          title="" /></span
      ><span class="c4"
        >Anh Nguy&#7877;n Ph&#432;&#7899;c Nguy&ecirc;n - &nbsp;Mezon Mobile
        Developer t&#7841;i </span
      ><span class="c6">NCCPLUS VIETNAM</span
      ><span class="c4"
        >, &nbsp;v&#7899;i h&#417;n 4 n&#259;m kinh nghi&#7879;m ph&aacute;t
        tri&#7875;n &#7913;ng d&#7909;ng &#273;a n&#7873;n t&#7843;ng, </span
      ><span class="c6"
        >ph&aacute;t tri&#7875;n t&iacute;nh n&#259;ng &#273;&#7871;n
        tri&#7875;n khai &#7913;ng d&#7909;ng l&ecirc;n App Store v&agrave;
        Google Play. C&oacute; kinh nghi&#7879;m trong vi&#7879;c theo
        d&otilde;i v&agrave; x&#7917; l&yacute; l&#7895;i tr&ecirc;n m&ocirc;i
        tr&#432;&#7901;ng production, t&#7889;i &#432;u hi&#7879;u n&#259;ng
        &#7913;ng d&#7909;ng v&agrave; &#273;&#7843;m b&#7843;o tr&#7843;i
        nghi&#7879;m ng&#432;&#7901;i d&ugrave;ng.</span
      >
    </p>
    <img src="https://mezon.ai/blogs/assets/images/nguyen-phuoc-nguyen.png" class="judging-panel__img" alt="nguyen-phuoc-nguyen"/>
    <p class="c3 c7 c13"><span class="c0"></span></p>
    <p class="c1">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#128073;"
          src="{{ "here.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 10px;
          "
          title="" /></span
      ><span class="c4"
        >V&#7899;i s&#7921; am hi&#7875;u s&acirc;u s&#7855;c v&#7873;
        chuy&ecirc;n m&ocirc;n, t&iacute;nh c&ocirc;ng b&#7857;ng v&agrave;
        &#273;am m&ecirc; c&ocirc;ng ngh&#7879; c&#7911;a c&aacute;c v&#7883;
        Ban Gi&aacute;m kh&#7843;o, ch&uacute;ng t&ocirc;i tin r&#7857;ng
        h&#7885; s&#7869; x&aacute;c &#273;&#7883;nh &#273;&#432;&#7907;c
        &#273;&#7897;i thi xu&#7845;t s&#7855;c chi&#7871;n th&#7855;ng trong
        cu&#7897;c thi </span
      ><span class="c6"
        >&#119809;&#119848;&#119853;
        &#119809;&#119834;&#119853;&#119853;&#119845;&#119838; &ndash;
        &#119823;&#119848;&#119856;&#119838;&#119851;&#119838;&#119837;
        &#119835;&#119858; &#119820;&#119838;&#119859;&#119848;&#119847;</span
      ><span class="c0"
        >&nbsp;l&#7847;n n&agrave;y. C&ugrave;ng c&aacute;i nh&igrave;n
        c&ocirc;ng t&acirc;m s&#7869; l&agrave; th&#432;&#7899;c &#273;o quan
        tr&#7885;ng gi&uacute;p &#272;&#7897;i ng&#361; Ban gi&aacute;m
        kh&#7843;o &#273;&aacute;nh gi&aacute; v&agrave; &#273;&#432;a ra
        k&#7871;t qu&#7843; ch&iacute;nh x&aacute;c nh&#7845;t cho ng&ocirc;i
        v&#7883; qu&aacute;n qu&acirc;n danh gi&aacute;.
      </span>
    </p>
    <p class="c1">
      <span class="c0">-----------------------------------</span>
    </p>
    <p class="c3">
      <span class="c2"
        >TH&Ocirc;NG TIN CHI TI&#7870;T V&#7872;
        &#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;</span
      >
    </p>
    <p class="c19">
      <span class="c6">&#128214; </span
      ><span class="c2">S&#7893; tay th&ocirc;ng tin chi ti&#7871;t</span
      ><span class="c6">: </span
      ><span class="c5 c7"
        ><a
          class="c9"
          href="https://www.google.com/url?q=https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp%3Dsharing&amp;sa=D&amp;source=editors&amp;ust=1752126388780636&amp;usg=AOvVaw2CefyUa4N_xwHd3XRLiuiT"
          >https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp=sharing</a
        ></span
      ><span class="c6"><br /><br />&#128204; </span
      ><span class="c2">Th&#7875; l&#7879; chung</span
      ><span class="c6"
        >:<br />
        &ndash; </span
      ><span class="c2">Ch&#7911; &#273;&#7873;</span
      ><span class="c6"
        >: T&#7921; ch&#7885;n T&#7920; DO S&Aacute;NG T&#7840;O <br />
        &ndash; </span
      ><span class="c2">Th&#7901;i gian</span
      ><span class="c6"
        >: Di&#7877;n ra h&agrave;ng th&aacute;ng, t&#7915; ng&agrave;y 01
        &#273;&#7871;n 30/31.<br />
        &ndash; </span
      ><span class="c2">&#272;&#7883;a &#273;i&#7875;m</span
      ><span class="c6"
        >: 100% Online tr&ecirc;n n&#7873;n t&#7843;ng Mezon<br />
        &#128073;</span
      ><span class="c6"
        >&nbsp;</span
      ><span class="c5"
        ><a
          class="c9"
          href="https://mezon.ai/invite/1840696283312951296"
          >https://mezon.ai/invite/1840696283312951296<br /></a></span
      ><span class="c6">&ndash; </span
      ><span class="c2">&#272;&#259;ng k&yacute; t&#7841;i</span
      ><span class="c6">:</span
      ><span class="c2 c12"
        ><a
          class="c9"
          href="https://www.google.com/url?q=https://forms.gle/mkBCxv8rWAPXv6Je8&amp;sa=D&amp;source=editors&amp;ust=1752126388781580&amp;usg=AOvVaw216SeV55M4qlwW6xmzFrZ7"
          >https://forms.gle/mkBCxv8rWAPXv6Je8</a
        ></span
      ><span class="c6"
        ><br />
        &ndash; </span
      ><span class="c2">&#272;&#7889;i t&#432;&#7907;ng tham gia</span
      ><span class="c6"
        >:<br />+ C&aacute; nh&acirc;n ho&#7863;c nh&oacute;m d&#432;&#7899;i 3
        th&agrave;nh vi&ecirc;n<br />+ Sinh vi&ecirc;n to&agrave;n qu&#7889;c
        v&agrave; c&aacute;c </span
      ><span class="c2"
        >fresher d&#432;&#7899;i 1 n&#259;m kinh nghi&#7879;m</span
      ><span class="c6"
        >&nbsp;trong l&#297;nh v&#7921;c c&ocirc;ng ngh&#7879; th&ocirc;ng
        tin<br /></span
      ><span class="c0">-----------------------------------</span>
    </p>
    <p class="c3">
      <span class="c8 c2">TH&Ocirc;NG TIN LI&Ecirc;N H&#7878;:</span>
    </p>
    <p class="c11">
      <span class="c6">&#128681; Fanpage Mezon:</span
      ><span class="c6"
        >&nbsp;</span
      ><span class="c5"
        ><a
          class="c9"
          href="https://www.facebook.com/mezonworld"
          >https://www.facebook.com/mezonworld</a
        ></span
      >
    </p>
    <p class="c11">
      <span class="c6">&#127760; Website Mezon:</span
      ><span class="c6"
        >&nbsp;</span
      ><span class="c5"
        ><a
          class="c9"
          href="https://mezon.ai/"
          >https://mezon.ai/</a
        ></span
      >
    </p>
    <p class="c11">
      <span class="c6">&#128236; Email h&#7895; tr&#7907;: </span
      ><span class="c5"
        ><a class="c9" href="mailto:hello@mezon.ai">hello@mezon.ai</a></span
      >
    </p>
    <p class="c11">
      <span class="c8 c6"
        >&#128222; Hotline li&ecirc;n h&#7879;: 024.6687.4606</span
      >
    </p>
    <p class="c13 c14"><span class="c8 c15"></span></p>
  </div>
