<div class="c12 mezon-token">
    <p class="c9"><span class="c5" style="font-size: 20px;">MEZON TOKEN &ndash; THE DIGITAL CURRENCY FOR A SMARTER COMMUNITY</span></p>
    <p class="c0"><span class="c4">Mezon is more than just a communication platform&mdash;it is a </span><span
            class="c5">smart transactional ecosystem</span><span class="c4">&nbsp;where </span><span class="c5">Mezon
            Token</span><span class="c4">&nbsp;is a versatile payment method, providing users with a seamless and
            convenient spending experience. With just a few simple steps, you can use Mezon Token to redeem </span><span
            class="c5">shopping and dining vouchers</span><span class="c4">&nbsp;from top brands on the </span><span
            class="c5">Got It</span><span class="c4">&nbsp;platform, unlock exclusive rewards, and access special
            offers. This is not only a </span><span class="c5">smart way to spend</span><span class="c3">&nbsp;but also
            an opportunity to maximize the value of your tokens.</span></p>
    <p class="c0"><span class="c4">Additionally, Mezon Token offers a </span><span class="c5">flexible solution for
            company employees</span><span class="c4">&nbsp;by allowing them to convert tokens into </span><span
            class="c5">vouchers for internal fee adjustments</span><span class="c4">&nbsp;via the </span><span
            class="c5">Tool Voucher</span><span class="c4">&nbsp;system. Instead of dealing with fixed payment
            obligations, employees can actively manage their expenses transparently and conveniently. This approach
            enhances financial flexibility and fosters a </span><span class="c5">more adaptive, employee-centric
            workplace environment</span><span class="c3">.</span></p>
    <p class="c0"><span class="c4">Beyond its internal ecosystem, </span><span class="c5">Mezon Token can also be
            converted into cash</span><span class="c4">&nbsp;effortlessly. Through the </span><span class="c5">TX8
            withdrawal feature</span><span class="c4">, users can exchange their tokens for </span><span
            class="c5">USDT</span><span class="c4">, which can then be withdrawn to their bank accounts or used in
            online transactions. All processes are designed to be </span><span class="c5">secure, transparent, and
            efficient</span><span class="c3">, ensuring fast transactions without excessive fees or long processing
            times.</span></p>
    <p class="c0"><span class="c4">Furthermore, Mezon Token enhances community engagement with the </span><span
            class="c5">Coffee Gifting</span><span class="c4">&nbsp;feature, allowing users to express gratitude and
            support colleagues. Additionally, the </span><span class="c5">token transfer</span><span
            class="c4">&nbsp;function enables instant and seamless transactions between users&mdash;whether sending
            Mezon Tokens to friends, contributing to </span><span class="c5">Clan funds</span><span class="c3">, or
            making payments within the ecosystem&mdash;ensuring transactions are completed within seconds without
            intermediaries, saving time and optimizing financial interactions on the platform.</span></p>
    <p class="c0"><span class="c4">With </span><span class="c5">Mezon Token</span><span class="c4">, you are not just
            holding a digital currency&mdash;you are unlocking </span><span class="c5">a next-generation transactional
            ecosystem</span><span class="c4">&nbsp;that is innovative, user-friendly, and continuously evolving.
        </span><span class="c1">Join us today and experience the future of digital transactions!</span></p>
    <p class="c9 c7"><span class="c8"></span></p>
    <p><span>&mdash;---------</span></p>
    <p class="c0 c7"><span class="c1"></span></p>

    <img src="https://mezon.ai/blogs/assets/images/enjoy-vouchers.png" alt="enjoy-vouchers" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c0"><span class="c4">Use Mezon Token to redeem vouchers and shop at </span><span class="c5">over 300 top
            brands</span><span class="c4">&nbsp;nationwide!<br><br>&#128313;</span><span class="c5">F&amp;B</span><span
            class="c4">: Highland, Starbucks, PhucLong, Kichi Kichi, Gogi &hellip;<br>&#128313;</span><span
            class="c5">Shopping</span><span class="c4">: Winmart, Lotte, Shopee&hellip;<br>&#128313;</span><span
            class="c5">Other</span><span class="c4">: Traveloka, California, Vinmec&hellip;</span></p>

    <img src="https://mezon.ai/blogs/assets/images/ncc-voucher.png" alt="ncc-voucher" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c0"><span class="c4">Need to pay using Mezon Token? Just follow these steps:<br><br>
        </span><span class="c3" style="font-size: 16px;">&#128313; Select <span class="c5">Exchange voucher NCCSoft<br></span>&#128313; Receive a QR code from the
            system and scan it with the Mezon app<br>&#128313; Enter the number of tokens you want to convert &rarr;
            Check the voucher value instantly!</span></p>

    <img src="https://mezon.ai/blogs/assets/images/tx8.png" alt="tx8" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c10"><span class="c4">Mezon Token is not just for shopping&mdash;you can also withdraw it to TX8 and
            exchange it for USDT.<br><br>&#128313; Secure and fast TX8 withdrawals<br>&#128313; Convert to USDT for online
            transactions or withdraw to your bank account<br>&#128313; </span><span class="c1" style="font-size: 16px;">Transparent &ndash; No
            high fees &ndash; No waiting!</span></p>

    <img src="https://mezon.ai/blogs/assets/images/send-token.png" alt="send-token" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c0"><span class="c4">Do you want to send tokens? Choose your preferred method:<br><br>&#128313; </span><span
            class="c5">Send a Coffee</span><span class="c4">: Click </span><span class="c5">&quot;Give A
            Coffee&quot;</span><span class="c4">&nbsp;to convert 1 coffee into 10,000 Tokens!<br>&#128313; </span><span
            class="c5">Direct Token Transfer</span><span class="c3" style="font-size: 16px;">: Go to Profile &rarr; Select recipient &rarr; Enter
            token amount &rarr; Click Send.</span></p>
    <p><span class="c3" style="font-size: 16px;">Transactions are completed in seconds, ensuring a fast, hassle-free, and fee-free
            experience!</span></p>
    <h2 class="c11" id="h.6a9pnbpifem5"><span class="c1">1. Mua Voucher &#273;&#7875; &#273;i u&#7889;ng, &#259;n
            u&#7889;ng, mua s&#7855;m</span></h2>
    <p class="c0"><span class="c3">B&#7841;n c&oacute; th&#7875; &#273;&#7893;i Mezon Token th&agrave;nh voucher
            &#273;&#7875; s&#7917; d&#7909;ng t&#7841;i h&#417;n 300 th&#432;&#417;ng hi&#7879;u tr&ecirc;n to&agrave;n
            qu&#7889;c, bao g&#7891;m qu&aacute;n c&agrave; ph&ecirc;, nh&agrave; h&agrave;ng, c&#7917;a h&agrave;ng
            m&#7929; ph&#7849;m, si&ecirc;u th&#7883; v&agrave; nhi&#7873;u l&#297;nh v&#7921;c kh&aacute;c.</span></p>
    <ul class="c6 lst-kix_qsop63r2jahh-0 start">
        <li class="c2 li-bullet-0"><span class="c5">*Voucher Exchange</span><span class="c4">&nbsp;&gt; Ch&#7885;n
            </span><span class="c5">Exchange voucher Market</span><span class="c4">&nbsp;&gt; </span><span
                class="c5">Confirm</span></li>
        <li class="c2 li-bullet-0"><span class="c3">H&#7879; th&#7889;ng Komu s&#7869; cung c&#7845;p m&atilde;
                voucher g&#7891;m 10 ch&#7919; s&#7889;, &aacute;p d&#7909;ng cho nhi&#7873;u th&#432;&#417;ng
                hi&#7879;u n&#7893;i ti&#7871;ng</span></li>
    </ul>
    <h3 class="c13" id="h.3deqzkokqshc"><span class="c1">Danh m&#7909;c th&#432;&#417;ng hi&#7879;u</span></h3>
    <ul class="c6 lst-kix_3c4sz2thnsog-0 start">
        <li class="c2 li-bullet-0"><span class="c5">Cafe &amp; Bread</span><span class="c3">: Highland, Starbucks,
                Katinat...</span></li>
        <li class="c2 li-bullet-0"><span class="c5">Nh&agrave; h&agrave;ng</span><span class="c3">: Shabuya, Kichi
                Kichi, K Pub...</span></li>
        <li class="c2 li-bullet-0"><span class="c5">M&#7929; ph&#7849;m</span><span class="c3">: Medicare, Innisfree,
                Guardian...</span></li>
        <li class="c2 li-bullet-0"><span class="c5">Si&ecirc;u th&#7883; &amp; Mua s&#7855;m</span><span class="c3">:
                Central Retail, Lotte Mart, FPT Shop...</span></li>
        <li class="c2 li-bullet-0"><span class="c5">Kh&aacute;c</span><span class="c3">: Fashion, Travel, v.v.</span>
        </li>
    </ul>
    <h2 class="c11" id="h.j0l6wi6rcj6u"><span class="c1">2. Tr&#7843; ti&#7873;n Saodo - &#272;&#7893;i voucher qua tool
            voucher</span></h2>
    <p class="c0"><span class="c3">N&#7871;u b&#7841;n mu&#7889;n s&#7917; d&#7909;ng voucher v&agrave; c&#7847;n thanh
            to&aacute;n b&#7857;ng Mezon Token, b&#7841;n c&oacute; th&#7875; th&#7921;c hi&#7879;n d&#7877; d&agrave;ng
            th&ocirc;ng qua c&ocirc;ng c&#7909; c&uacute; ph&aacute;p sau:</span></p>
    <ul class="c6 lst-kix_hvcfzsbz6aki-0 start">
        <li class="c2 li-bullet-0"><span class="c5">*Voucher Exchange</span><span class="c4">&nbsp;&gt; Ch&#7885;n
            </span><span class="c1">Exchange voucher NCCSoft </span></li>
        <li class="c2 li-bullet-0"><span class="c3">H&#7879; th&#7889;ng g&#7917;i QR &gt; M&#7903; &#7913;ng
                d&#7909;ng Mezon tr&ecirc;n &#273;i&#7879;n tho&#7841;i &#273;&#7875; qu&eacute;t QR &gt; nh&#7853;p
                s&#7889; l&#432;&#7907;ng token mu&#7889;n chuy&#7875;n &#273;&#7893;i th&agrave;nh voucher</span></li>
        <li class="c2 li-bullet-0"><span class="c4">V&agrave;o tool voucher &#273;&#7875; check m&#7879;nh gi&aacute;
                voucher &#273;&#432;&#7907;c quy &#273;&#7893;i.</span><span class="c1"><br></span></li>
    </ul>
    <h2 class="c11" id="h.54wndy75og1v"><span class="c1">3. R&uacute;t ti&#7873;n sang TX8</span></h2>
    <p class="c0"><span class="c3">Kh&ocirc;ng ch&#7881; d&#7915;ng l&#7841;i &#7903; h&#7879; sinh th&aacute;i
            n&#7897;i b&#7897;, Mezon Token c&ograve;n mang &#273;&#7871;n s&#7921; linh ho&#7841;t trong vi&#7879;c
            chuy&#7875;n &#273;&#7893;i th&agrave;nh ti&#7873;n m&#7863;t. B&#7841;n c&oacute; th&#7875; d&#7877;
            d&agrave;ng r&uacute;t Mezon Token v&#7873; TX8 v&agrave; quy &#273;&#7893;i th&agrave;nh USDT &#273;&#7875;
            s&#7917; d&#7909;ng trong giao d&#7883;ch tr&#7921;c tuy&#7871;n ho&#7863;c r&uacute;t v&#7873; t&agrave;i
            kho&#7843;n ng&acirc;n h&agrave;ng.</span></p>
    <ul class="c6 lst-kix_73qekx9g2vc1-0 start">
        <li class="c2 li-bullet-0"><span class="c3">R&uacute;t ti&#7873;n v&#7873; TX8.</span></li>
        <li class="c2 li-bullet-0"><span class="c3">Quy &#273;&#7893;i sang USDT.</span></li>
        <li class="c2 li-bullet-0"><span class="c3">D&ugrave;ng trong giao d&#7883;ch tr&#7921;c tuy&#7871;n
                ho&#7863;c r&uacute;t v&#7873; t&agrave;i kho&#7843;n ng&acirc;n h&agrave;ng.</span></li>
        <li class="c2 li-bullet-0"><span class="c3">Qu&aacute; tr&igrave;nh an to&agrave;n, minh b&#7841;ch,
                kh&ocirc;ng lo ph&iacute; cao hay th&#7901;i gian ch&#7901;.</span></li>
    </ul>
    <h2 class="c11" id="h.n6mhytynfvzp"><span class="c1">4. T&#7863;ng Token</span></h2>
    <p><span class="c3">C&oacute; hai h&igrave;nh th&#7913;c t&#7863;ng token cho ai &#273;&oacute; trong
            c&#7897;ng &#273;&#7891;ng c&#7911;a b&#7841;n:</span></p>
    <p><span class="c3">M&#7897;t l&agrave; t&#7863;ng Coffee v&#7899;i m&#7879;nh gi&aacute; 10.000 Token
            c&aacute;ch th&#7921;c hi&#7879;n nh&#432; sau</span></p>
    <p><span class="c4">Nh&#7845;n icon </span><span class="c5">&ldquo;Give A Coffee&rdquo; </span><span
            class="c4">&#273;&#7875; t&#7863;ng, quy &#273;&#7893;i</span><span class="c5">&nbsp;01 Coffee </span><span
            class="c4">th&agrave;nh </span><span class="c1">10.000 Token.</span></p>
    <p><span class="c3">Hai l&agrave; t&#7863;ng token tr&#7921;c ti&#7871;p cho b&#7841;n b&egrave;,
            ng&#432;&#7901;i th&acirc;n ho&#7863;c b&#7845;t k&#7923; ai trong h&#7879; th&#7889;ng Mezon ch&#7881;
            v&#7899;i v&agrave;i b&#432;&#7899;c &#273;&#417;n gi&#7843;n.</span></p>
    <ul class="c6 lst-kix_6yqnldcb19gu-0 start">
        <li class="c2 li-bullet-0"><span class="c4">V&agrave;o </span><span class="c1" style="font-size: 16px;">Profile</span></li>
        <li class="c2 li-bullet-0"><span class="c3">Ch&#7885;n ng&#432;&#7901;i mu&#7889;n t&#7863;ng</span></li>
        <li class="c2 li-bullet-0"><span class="c3">Nh&#7853;p s&#7889; Token mu&#7889;n g&#7917;i</span></li>
        <li class="c2 li-bullet-0"><span class="c4">Nh&#7845;n </span><span class="c1" style="font-size: 16px;">Send</span></li>
    </ul>
    <p class="c9 c7"><span class="c3"></span></p>
    <p class="c9 c7"><span class="c3"></span></p>
    <p class="c9 c7"><span class="c8"></span></p>
    <p class="c9 c7"><span class="c14"></span></p>
</div>