  <div class="c3 c9 mezon-competition">
    <h3 id="h.sq2hcp3nh4i0">
      <span class="c0 c4"
        >&#129504; TH&Ocirc;NG TIN CHI TI&#7870;T V&#7872;
        &#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;</span
      >
    </h3>
    <p class="c6">
      <span class="c0">Mezon Monthly Bot Challenge</span
      ><span class="c2"
        >&nbsp;l&agrave; m&#7897;t s&acirc;n ch&#417;i c&ocirc;ng ngh&#7879;
        d&agrave;nh cho sinh vi&ecirc;n v&agrave; fresher tr&ecirc;n to&agrave;n
        qu&#7889;c. Cu&#7897;c thi &#273;&#432;&#7907;c t&#7893; ch&#7913;c </span
      ><span class="c0">h&agrave;ng th&aacute;ng</span
      ><span class="c2">&nbsp;v&#7899;i </span
      ><span class="c0">ch&#7911; &#273;&#7873; t&#7921; ch&#7885;n</span
      ><span class="c2"
        >, t&#7841;o c&#417; h&#7897;i &#273;&#7875; ng&#432;&#7901;i tham gia
        t&#7921; do s&aacute;ng t&#7841;o v&agrave; ph&aacute;t tri&#7875;n
        nh&#7919;ng </span
      ><span class="c0">AI-driven chatbot</span
      ><span class="c2"
        >&nbsp;mang t&iacute;nh &#7913;ng d&#7909;ng cao tr&ecirc;n n&#7873;n
        t&#7843;ng </span
      ><span class="c0">Mezon</span
      ><span class="c4 c2"
        >, d&#432;&#7899;i s&#7921; b&#7843;o tr&#7907; chuy&ecirc;n m&ocirc;n
        t&#7915; &#273;&#7897;i ng&#361; k&#7929; s&#432; Mezon v&agrave;
        NCC+.</span
      >
    </p>
    <p class="c6" style="padding-top: 0px;">
      <span class="c2">&#128214; </span
      ><span class="c0">S&#7893; tay th&ocirc;ng tin chi ti&#7871;t</span
      ><span class="c2">: </span
      ><span class="c1 c3"
        ><a
          class="c7"
          href="https://www.google.com/url?q=https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp%3Dsharing&amp;sa=D&amp;source=editors&amp;ust=1752121659081239&amp;usg=AOvVaw0Ez-AJEG2hVLpc-U9mBSHd"
          >https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp=sharing</a
        ></span
      ><span class="c2"><br /><br /></span><span class="c2">&#128204; </span
      ><span class="c0">Th&#7875; l&#7879; chung</span
      ><span class="c2"
        >:<br />
        &ndash; </span
      ><span class="c0">Ch&#7911; &#273;&#7873;</span
      ><span class="c2"
        >: T&#7921; ch&#7885;n T&#7920; DO S&Aacute;NG T&#7840;O <br />
        &ndash; </span
      ><span class="c0">Th&#7901;i gian</span
      ><span class="c2"
        >: Di&#7877;n ra h&agrave;ng th&aacute;ng, t&#7915; ng&agrave;y 01
        &#273;&#7871;n 30/31.<br />
        &ndash; </span
      ><span class="c0">&#272;&#7883;a &#273;i&#7875;m</span
      ><span class="c2"
        >: 100% Online tr&ecirc;n n&#7873;n t&#7843;ng Mezon<br />
        &#128073;</span
      ><span class="c2"
        >&nbsp;</span
      ><span class="c1"
        ><a
          class="c7"
          href="https://mezon.ai/invite/1840696283312951296"
          >https://mezon.ai/invite/1840696283312951296<br /></a></span
      ><span class="c2">&ndash; </span
      ><span class="c0">&#272;&#259;ng k&yacute; t&#7841;i</span
      ><span class="c2">:</span
      ><span class="c0 c5"
        ><a
          class="c7"
          href="https://www.google.com/url?q=https://forms.gle/mkBCxv8rWAPXv6Je8&amp;sa=D&amp;source=editors&amp;ust=1752121659082189&amp;usg=AOvVaw3uifwnmd2cXb0lxs_i2x1s"
          >https://forms.gle/mkBCxv8rWAPXv6Je8</a
        ></span
      ><span class="c2"><br /></span><span class="c2">&ndash; </span
      ><span class="c0">&#272;&#7889;i t&#432;&#7907;ng tham gia</span
      ><span class="c2"
        >:<br />+ C&aacute; nh&acirc;n ho&#7863;c nh&oacute;m d&#432;&#7899;i 3
        th&agrave;nh vi&ecirc;n<br />+ Sinh vi&ecirc;n to&agrave;n qu&#7889;c
        v&agrave; c&aacute;c </span
      ><span class="c0"
        >fresher d&#432;&#7899;i 1 n&#259;m kinh nghi&#7879;m</span
      ><span class="c4 c2"
        >&nbsp;trong l&#297;nh v&#7921;c c&ocirc;ng ngh&#7879; th&ocirc;ng
        tin<br
      /></span>
    </p>
    <p>
      <span class="c2">&#128176; </span
      ><span class="c0">Ph&iacute; tham gia</span
      ><span class="c2">: Ho&agrave;n to&agrave;n </span
      ><span class="c4 c0">Mi&#7877;n ph&iacute;</span>
    </p>
    <p class="c6">
      <span class="c2">&#127873; </span
      ><span class="c0"
        >B&#7841;n s&#7869; nh&#7853;n &#273;&#432;&#7907;c g&igrave;?<br /></span
      ><span class="c2"
        >&#9989; Th&#7921;c h&agrave;nh x&acirc;y d&#7921;ng chatbot AI
        theo &yacute; t&#432;&#7903;ng ri&ecirc;ng<br />
        &#9989; Review code &amp; mentoring t&#7915; &#273;&#7897;i ng&#361;
        k&#7929; s&#432; Mezon<br />
        &#9989; Bot &#273;&#432;&#7907;c c&ocirc;ng khai tr&ecirc;n n&#7873;n
        t&#7843;ng </span
      ><span class="c0">top.mezon.ai<br /></span
      ><span class="c2"
        >&#9989; C&oacute; s&#7843;n ph&#7849;m &#273;&#432;a v&agrave;o </span
      ><span class="c0">CV/portfolio c&aacute; nh&acirc;n<br /></span
      ><span class="c2"
        >&#9989; Gi&#7843;i th&#432;&#7903;ng l&ecirc;n &#273;&#7871;n </span
      ><span class="c0">$100/th&aacute;ng</span
      ><span class="c2"
        >, c&ugrave;ng nhi&#7873;u ph&#7847;n qu&agrave; h&#7845;p d&#7851;n<br />
        &#9989; Nh&#7853;n </span
      ><span class="c0"
        >ch&#7913;ng nh&#7853;n tham gia ch&iacute;nh th&#7913;c</span
      ><span class="c2"
        >t&#7915; Mezon<br />
        &#9989; C&#417; h&#7897;i k&#7871;t n&#7889;i v&#7899;i c&#7897;ng
        &#273;&#7891;ng l&#7853;p tr&igrave;nh vi&ecirc;n tr&#7867; tr&ecirc;n
        to&agrave;n qu&#7889;c<br />
        &#9989; C&#417; h&#7897;i tr&#7903; th&agrave;nh </span
      ><span class="c0">&#272;&#7841;i s&#7913; sinh vi&ecirc;n Mezon</span
      ><span class="c4 c2"
        >&nbsp;&ndash; lan t&#7887;a c&ocirc;ng ngh&#7879; AI &#273;&#7871;n
        c&#7897;ng &#273;&#7891;ng sinh vi&ecirc;n</span
      >
    </p>
    <div style="border: 1px solid #aaaaaa;"></div>
    <p class="c6">
      <span class="c2">&#128279; </span
      ><span class="c0"
        >K&ecirc;nh li&ecirc;n h&#7879; &amp; theo d&otilde;i</span
      ><span class="c2"
        >:<br />
        &#128681; Fanpage Mezon:</span
      ><span class="c2"
        >&nbsp;</span
      ><span class="c1"
        ><a
          class="c7"
          href="https://www.facebook.com/mezonworld"
          >https://www.facebook.com/mezonworld<br /></a></span
      ><span class="c2">&#127760; Website:</span
      ><span class="c2"
        >&nbsp;</span
      ><span class="c1"
        ><a
          class="c7"
          href="https://mezon.ai/"
          >https://mezon.ai/<br /></a></span
      ><span class="c4 c2"
        >&#128236; Email h&#7895; tr&#7907;:&nbsp;<a class="c7" style="text-decoration: underline;" href="mailto:hello@mezon.ai">hello@mezon.ai</a><br />
        &#128222; Hotline: 024.6687.4606<br
      /></span>
    </p>
    <p class="c8"><span class="c4 c2"></span></p>
  </div>
