<div class="c7 mezon-platform">
    <p class="c1" style="margin-bottom: 12px;"><span class="c4 c9" style="font-size: 20px;">&#11088;&#65039; &#119820;&#119812;&#119833;&#119822;&#119821; -
            &#119808;&#119819;&#119819;-&#119816;&#119821;-&#119822;&#119821;&#119812;
            &#119823;&#119819;&#119808;&#119827;&#119813;&#119822;&#119825;&#119820; &#11088;&#65039;</span></p>
    <p class="c1"><span class="c4 c3">Mezon is an all-in-one community communication platform that seamlessly integrates
            work and entertainment into a single online space. More than just a tool for connecting community members,
            Mezon enhances productivity with a structured content management system. Chat channels, threads, and topics
            allow for clear content categorization by department and project. Voice &amp; video calls and the Meeting
            Room enable teams to collaborate effortlessly, while Canvas offers an interactive workspace for visual
            presentations, supporting seamless discussions and teamwork.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c3">Additionally, Mezon Live allows users to connect and interact in real-time. Internal
            radio channels like NCC8, the Meeting Room, and live-streamed content ensure that members stay engaged and
            that information is updated quickly and accurately. Beyond work, </span><span class="c3">Mezon</span><span
            class="c4 c3">&nbsp;Live delivers a rich entertainment experience with movies, podcasts, audiobooks, and
            music, all available within the platform. This diverse content library helps users unwind after work while
            gaining valuable knowledge, eliminating the need to switch between multiple applications.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c4 c3">Mezon also fosters community engagement and entertainment through its Game Hub,
            featuring exciting games such as Duck Race, Vua Ti&#7871;ng Vi&#7879;t, and &#272;&#7889; B&#7841;n
            (Do-Ban). These interactive experiences encourage social bonding and intellectual challenges, making Mezon
            more than just a workplace tool&mdash;it&rsquo;s a dynamic space where work and leisure are perfectly
            balanced.</span></p>
    <p class="c1"><span class="c4 c3">With all these features, Mezon is a powerful work assistant and a comprehensive
            platform for communication, entertainment, and personal development. Everything is integrated into a single
            ecosystem, eliminating the fragmentation of multiple standalone apps and delivering a modern, flexible, and
            highly efficient communication and collaboration environment.</span></p>
    <p class="c1 c2"><span class="c3 c10"></span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>

    <img src="https://mezon.ai/blogs/assets/images/for-work.png" alt="for-work" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c1"><span class="c0">Mezon is a community communication platform designed to seamlessly bring CLAN&rsquo;s
            offline activities into an online environment with flexibility and efficiency. While its core focus is on
            fostering community connections, Mezon also offers features that enhance collaboration and streamline work
            processes.</span></p>
    <p class="c1"><img><span class="c0">⬜ Seamless Communication &amp; Team Collaboration</span></p>
    <p class="c1"><img><span class="c0">⬜ Chat Channels &amp; Discussions: Enable fast and efficient communication for
            work and community interactions.</span></p>
    <p class="c1"><img><span class="c0">⬜ Voice &amp; Video Calls: Support real-time online meetings without the need for
            external tools.</span></p>
    <p class="c1"><img><span class="c0">⬜ Internal Activity Management</span></p>
    <p class="c1"><img><span class="c0">⬜ Event Creation &amp; Announcements: Organize and track meetings, training
            sessions, and internal activities.</span></p>
    <p class="c1"><img><span class="c0">⬜ Flexible Hierarchical System:</span></p>
    <p class="c1"><span class="c0">Channels &amp; Threads: Structure conversations by departments and projects for a
            more organized workflow.</span></p>
    <p class="c1"><span class="c0">Topics: Keep discussions focused on specific subjects.</span></p>
    <p class="c1"><span class="c5">Canvas: Provide a visually interactive space for presenting ideas and
            documents.</span></p>
    <p class="c1 c2"><span class="c4 c3"><br></span></p>
    <p class="c1"><span class="c0">&#119819;&#119842;&#119855;&#119838; &#119848;&#119847;
            &#119820;&#119838;&#119859;&#119848;&#119847; &ndash; &#119808;
            &#119826;&#119838;&#119834;&#119846;&#119845;&#119838;&#119852;&#119852;
            &#119812;&#119857;&#119849;&#119838;&#119851;&#119842;&#119838;&#119847;&#119836;&#119838;
            &#119842;&#119847;
            &#119810;&#119848;&#119846;&#119846;&#119854;&#119847;&#119842;&#119836;&#119834;&#119853;&#119842;&#119848;&#119847;
            &amp;
            &#119812;&#119847;&#119853;&#119838;&#119851;&#119853;&#119834;&#119842;&#119847;&#119846;&#119838;&#119847;&#119853;</span>
    </p>

    <img src="https://mezon.ai/blogs/assets/images/for-live.png" alt="for-live" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c0">Mezon is more than just a communication platform&mdash;it creates a dynamic space
            where members can connect, engage, and stay updated in real time. With built-in live interaction tools,
            Mezon enhances both work and entertainment experiences flexibly and efficiently.</span></p>
    <p class="c1"><span class="c0">Meeting Room: A virtual meeting space for discussions, training sessions, and team
            collaboration.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ NCC8 &ndash; Internal Radio Channel: A dedicated audio channel for internal
            communications and community engagement.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Movies: A diverse entertainment hub to help users unwind after work.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Podcasts: A platform for sharing industry insights, knowledge, and inspiring
            stories.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Music: A rich music library for relaxation or boosting productivity.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Audiobooks: On-the-go learning to support both personal and professional
            growth.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c0">With these features, Mezon not only enhances workflow efficiency but also fosters
            stronger connections among members, creating a modern, engaging, and effective communication environment.
        </span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c0">&#119814;&#119834;&#119846;&#119838; &#119815;&#119854;&#119835; &#119848;&#119847;
            &#119820;&#119838;&#119859;&#119848;&#119847; &ndash;
            &#119816;&#119847;&#119853;&#119838;&#119851;&#119834;&#119836;&#119853;&#119842;&#119855;&#119838;
            &#119812;&#119847;&#119853;&#119838;&#119851;&#119853;&#119834;&#119842;&#119847;&#119846;&#119838;&#119847;&#119853;
            &#119830;&#119842;&#119853;&#119841;&#119842;&#119847; &#119853;&#119841;&#119838;
            &#119823;&#119845;&#119834;&#119853;&#119839;&#119848;&#119851;&#119846;</span></p>
    
    <img src="https://mezon.ai/blogs/assets/images/for-game-hub.png" alt="for-game-hub" style="object-fit: cover; border-radius: 8px; margin: 16px 0 16px 0;"/>

    <p class="c1"><span class="c0">Mezon is not just a communication space&mdash;it also offers a diverse entertainment
            hub with engaging games. Users can relax, connect with the community, and enhance interactions through
            exciting titles such as:</span></p>
    <p class="c1"><img><span class="c0">⬜ Card Games &ndash; Classic games for casual fun and socializing.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Duck Race &ndash; A lighthearted, competitive duck racing game.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Vua-Tieng-Viet&ndash; A vocabulary challenge that tests language skills with fun
            puzzles.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Do-Ban &ndash; A brain-teasing trivia game that fosters engagement and critical
            thinking.</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><img><span class="c0">⬜ Virtual Hub &ndash; An immersive virtual space for a more dynamic online
            experience.</span></p>
    <p class="c1 c2"><span class="c3 c4"></span></p>
    <p class="c1"><span class="c5">With a rich game library, Mezon creates a vibrant entertainment ecosystem, allowing
            users to unwind after work while strengthening community bonds.</span><span class="c4 c3">#Mezon
            #ChannelApps #ChatPlatform #Community #MiniApps #GrowTogether</span></p>
    <p class="c1 c2"><span class="c4 c3"></span></p>
    <p class="c1"><span class="c4 c3">------------</span></p>
    <p class="c1"><span class="c4 c3">MEZON &ndash; YOUR COMMUNITY, YOUR RULES!</span></p>
    <p class="c1"><span class="c4 c3">A product proudly developed by the engineers at NCCPLUS VIETNAM.</span></p>
    <p class="c1"><span class="c3">Website:</span><span class="c3"><a class="c8"
                href="https://www.google.com/url?q=https://mezon.ai/&amp;sa=D&amp;source=editors&amp;ust=1753872414011859&amp;usg=AOvVaw0YlGx_TkYV_qOeu8s-gIfB">&nbsp;</a></span><span
            class="c3 c11"><a class="c8"
                href="https://www.google.com/url?q=https://mezon.ai/&amp;sa=D&amp;source=editors&amp;ust=1753872414012145&amp;usg=AOvVaw10LZ1KDDoKeqmN84Y4Bysx">https://mezon.ai/</a></span>
    </p>
    <p class="c1"><span class="c4 c3">Email: info@ncc.asia</span></p>
    <p class="c1"><span class="c3">Hotline: 024.6687.4606</span></p>
</div>