  <div class="c15 team-winner">
    <p class="c7">
      <span class="c5"
        >&#128293;&#119827;&#119815;&#119812;
        &#119830;&#119816;&#119821;&#119821;&#119812;&#119825;
        &#119822;&#119813; &#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;
        &#120782;&#120788;/&#120784;&#120782;&#120784;&#120787; |
        &#119809;&#119822;&#119827;
        &#119809;&#119808;&#119827;&#119827;&#119819;&#119812; -
        &#119823;&#119822;&#119830;&#119812;&#119825;&#119812;&#119811;
        &#119809;&#119832; &#119820;&#119812;&#119833;&#119822;&#119821;
        &#128293;</span
      >
    </p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c7">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#128226;"
          src="{{ "speaker.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 3px;
          "
          title="" /></span
      ><span class="c5 c11 "
        >&nbsp;&#128226;H&agrave;nh tr&igrave;nh c&#7911;a </span
      ><span class="c5">CAMPUS LIFE BOT </span
      ><span class="c5 c11 "
        >v&#7899;i r&#7845;t nhi&#7873;u cung b&#7853;c c&#7843;m x&uacute;c
        &#273;&atilde; &#273;i &#273;&#7871;n h&#7891;i k&#7871;t. Chi&#7871;c
        v&#432;&#417;ng mi&#7879;n danh gi&aacute; nh&#7845;t cu&#7889;i
        c&ugrave;ng c&#361;ng &#273;&atilde; t&igrave;m &#273;&#432;&#7907;c
        ch&#7911; nh&acirc;n x&#7913;ng &#273;&aacute;ng. Xin ch&uacute;c
        m&#7915;ng TEAM 2 /3 v&#7899;i Bot &nbsp;UniPal &ndash; Tr&#7907;
        L&yacute; &#7843;o d&agrave;nh cho sinh vi&ecirc;n.</span
      >
    </p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c23">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#11088;&#65039;"
          src="{{ "star-normal.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 3px;
          "
          title="" /></span
      ><span class="c5 c11"
        >&nbsp;V&#7899;i s&#7921; chu&#7849;n b&#7883; c&ocirc;ng phu, &yacute;
        t&#432;&#7903;ng t&aacute;o b&#7841;o, ph&#7847;n tr&igrave;nh
        b&agrave;y cu&#7889;n h&uacute;t v&agrave; m&agrave;n tranh t&agrave;i
        n&#7843;y l&#7917;a tr&ecirc;n &#273;&#7845;u tr&#432;&#7901;ng
        s&#7889;, </span
      ><span class="c11 c14">TEAM 2/3</span
      ><span class="c3"
        >&nbsp; &#273;&atilde; chinh ph&#7909;c &#273;&#432;&#7907;c tr&aacute;i
        tim c&#7911;a h&#7897;i &#273;&#7891;ng Ban Gi&aacute;m kh&#7843;o
        v&agrave; to&agrave;n th&#7875; kh&aacute;n gi&#7843;, qua
        &#273;&oacute; kh&#7859;ng &#273;&#7883;nh m&igrave;nh x&#7913;ng
        &#273;&aacute;ng l&agrave; ng&#432;&#7901;i d&#7851;n
        &#273;&#432;&#7901;ng &aacute;nh s&aacute;ng, g&oacute;p ph&#7847;n
        &#273;&#7875; l&#7841;i d&#7845;u &#7845;n s&acirc;u s&#7855;c v&#7899;i
        m&#7897;t s&#7843;n ph&#7849;m mang &#273;&#7853;m t&iacute;nh &#7913;ng
        d&#7909;ng v&agrave; gi&aacute; tr&#7883; c&#7897;ng &#273;&#7891;ng.
        Mong r&#7857;ng trong nh&#7919;ng h&agrave;nh tr&igrave;nh s&#7855;p
        t&#7899;i, c&aacute;c b&#7841;n s&#7869; ti&#7871;p t&#7909;c gi&#7919;
        v&#7919;ng tinh th&#7847;n nhi&#7879;t huy&#7871;t n&agrave;y v&agrave;
        g&#7863;t h&aacute;i nhi&#7873;u th&agrave;nh c&ocirc;ng h&#417;n
        n&#7919;a!</span
      >
    </p>
    <p class="c1"><span class="c2"></span></p>
    <p class="c8">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#128144;"
          src="{{ "flower-light.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-bottom: 3px;
          "
          title="" /></span
      ><span class="c5 c11 "
        >&nbsp;D&ugrave; l&agrave; qu&aacute;n qu&acirc;n hay Top 5 th&igrave;
        c&aacute;c b&#7841;n c&#361;ng &#273;&atilde; l&agrave; nh&#7919;ng
        m&#7843;nh gh&eacute;p kh&ocirc;ng th&#7875; thi&#7871;u g&oacute;p
        ph&#7847;n t&#7841;o n&ecirc;n s&#7921; th&agrave;nh c&ocirc;ng trong
        cu&#7897;c thi n&#259;m nay, Ban T&#7893; ch&#7913;c r&#7845;t h&acirc;n
        h&#7841;nh v&agrave; bi&#7871;t &#417;n nh&#7919;ng &#273;&oacute;ng
        g&oacute;p c&#7911;a c&aacute;c b&#7841;n cho cu&#7897;c thi, hy
        v&#7885;ng r&#7857;ng &ldquo;</span
      ><span class="c5">MEZON MONTHLY BOT CHALLENGE </span
      ><span class="c5 c11">&nbsp;| BOT BATTLE - POWERED BY MEZON</span
      ><span class="c3 "
        >&nbsp;m&ugrave;a &#273;&#7847;u ti&ecirc;n &#273;&atilde; &#273;&#7875;
        l&#7841;i m&#7897;t d&#7845;u &#7845;n t&#432;&#417;i &#273;&#7865;p
        trong tu&#7893;i thanh xu&acirc;n &#273;&#7847;y r&#7921;c r&#7905;
        c&#7911;a c&aacute;c b&#7841;n.</span
      >
    </p>
    <p class="c0"><span class="c5">----------------------------</span></p>
    <p class="c0">
      <span class="c18"
        >TH&Ocirc;NG TIN CHI TI&#7870;T V&#7872;
        &#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;</span
      >
    </p>
    <p class="c0">
      <span class="c5  c25">&#128214;</span
      ><span class="c18 c12 c25  c26">S&#7893; tay th&ocirc;ng tin: </span>
    </p>
    <p class="c0">
      <span class="c18  c19"
        ><a
          class="c6"
          href="https://www.google.com/url?q=https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp%3Dsharing&amp;sa=D&amp;source=editors&amp;ust=1752138668879650&amp;usg=AOvVaw33gN3v_oiTsMTMRY7hgwTU"
          >https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp=sharing</a
        ></span
      >
    </p>
    <p class="c0">
      <span class="c5">&#128204;</span
      ><span class="c18">&nbsp;&#272;&#7873; t&agrave;i th&aacute;ng 7:</span
      ><span class="c2">&nbsp;T&#7920; DO S&Aacute;NG T&#7840;O</span>
    </p>
    <p class="c0">
      <span class="c5">&#128204; &#272;&#417;n &#273;&#259;ng k&yacute; : </span
      ><span class="c4"
        ><a
          class="c6"
          href="https://www.google.com/url?q=https://forms.gle/cKDsitcHnjoDgoAT6&amp;sa=D&amp;source=editors&amp;ust=1752138668880062&amp;usg=AOvVaw0Y1yJwNajXjz3pUgvxSVXp"
          >https://forms.gle/cKDsitcHnjoDgoAT6</a
        ></span
      >
    </p>
    <p class="c0">
      <span class="c18">&#9200; Th&#7901;i gian:</span
      ><span class="c2">&nbsp;19/06 - 26/07/2025</span>
    </p>
    <p class="c0">
      <span class="c5">&#128204;</span
      ><span class="c18"
        >&#272;&#7883;a &#273;i&#7875;m t&#7893; ch&#7913;c:</span
      ><span class="c2"
        >&nbsp;100% Online tr&ecirc;n n&#7873;n t&#7843;ng Mezon</span
      >
    </p>
    <p class="c0">
      <span class="c4"
        ><a
          class="c6"
          href="https://www.google.com/url?q=https://drive.google.com/file/d/18mvfpNqHo0EBD3yCVWbJuRbwIuELKU8p/view&amp;sa=D&amp;source=editors&amp;ust=1752138668880661&amp;usg=AOvVaw33ppGOPOZtUs5VJsCXA9cB"
          >https://drive.google.com/file/d/18mvfpNqHo0EBD3yCVWbJuRbwIuELKU8p/view</a
        ></span
      >
    </p>
    <p class="c0">
      <span class="c18"
        >&#128101; &#272;&#7889;i t&#432;&#7907;ng tham gia:</span
      ><span class="c5">&nbsp;</span
      ><span class="c13 c12"
        >&nbsp;(C&aacute; nh&acirc;n/ Team t&#7889;i &#273;a 3 th&agrave;nh
        vi&ecirc;n)</span
      >
    </p>
    <p class="c24">
      <span class="c2"
        >T&#7845;t c&#7843; sinh vi&ecirc;n tr&ecirc;n to&agrave;n qu&#7889;c
        v&agrave; c&aacute;c fresher c&oacute; kinh nghi&#7879;m d&#432;&#7899;i
        1 n&#259;m trong l&#297;nh v&#7921;c c&ocirc;ng ngh&#7879; th&ocirc;ng
        tin</span
      >
    </p>
    <p class="c24" style="padding-bottom: 12pt;">
      <span class="c5">&#128176; </span
      ><span class="c18">Ph&iacute; tham gia:</span
      ><span class="c2">&nbsp;Mi&#7877;n ph&iacute;</span>
    </p>
    <p class="c0">
      <span class="c5">&#127873; </span
      ><span class="c18"
        >B&#7841;n s&#7869; nh&#7853;n &#273;&#432;&#7907;c g&igrave;?</span
      ><span class="c2">&nbsp;</span>
    </p>
    <p class="c8">
      <span class="c2"
        >&#9989; Th&#7921;c h&agrave;nh ph&aacute;t tri&#7875;n s&#7843;n
        ph&#7849;m th&#7853;t tr&ecirc;n n&#7873;n t&#7843;ng AI</span
      >
    </p>
    <p class="c8">
      <span class="c5">&#9989;</span
      ><span class="c2 "
        >&nbsp;Review code &amp; mentoring tr&#7921;c ti&#7871;p t&#7915;
        k&#7929; s&#432; Mezon</span
      >
    </p>
    <p class="c8">
      <span class="c5 "
        >&#9989; Bot &#273;&#432;&#7907;c c&ocirc;ng khai tr&ecirc;n n&#7873;n
        t&#7843;ng</span
      ><span class="c5 "
        >&nbsp;</span
      ><span class="c5 c20"
        ><a
          class="c6"
          href="https://top.mezon.ai"
          >top.mezon.ai</a
        ></span
      >
    </p>
    <p class="c8">
      <span class="c5"
        >&#9989; C&oacute; s&#7843;n ph&#7849;m &#273;&#432;a v&agrave;o </span
      ><span class="c13 c12">CV/portfolio</span>
    </p>
    <p class="c8">
      <span class="c5"
        >&#9989; C&#417; h&#7897;i gi&agrave;nh gi&#7843;i th&#432;&#7903;ng
        gi&aacute; tr&#7883;: </span
      ><span class="c12 c13"
        >$100/th&aacute;ng k&egrave;m theo c&aacute;c ph&#7847;n
        th&#432;&#7903;ng &#273;&#7863;c bi&#7879;t kh&aacute;c.</span
      >
    </p>
    <p class="c8">
      <span class="c5">&#9989; Nh&#7853;n </span
      ><span class="c18">ch&#7913;ng nh&#7853;n tham gia</span
      ><span class="c2">&nbsp;t&#7915; Mezon</span>
    </p>
    <p class="c8">
      <span class="c5"
        >&#9989; C&#417; h&#7897;i k&#7871;t n&#7889;i c&#7897;ng
        &#273;&#7891;ng l&#7853;p tr&igrave;nh vi&ecirc;n tr&#7867; n&#259;ng
        &#273;&#7897;ng v&agrave; tr&#7903; th&agrave;nh </span
      ><span class="c18">&#272;&#7841;i s&#7913; sinh vi&ecirc;n</span
      ><span class="c5">&nbsp;c&#7911;a Ch&#432;&#417;ng tr&igrave;nh </span
      ><span class="c18">Mezon Monthly Bot Challenge</span>
    </p>
    <p class="c0"><span class="c2">--------------------------</span></p>
    <p class="c0">
      <span class="c2">TH&Ocirc;NG TIN LI&Ecirc;N H&#7878;:</span>
    </p>
    <p class="c8">
      <span class="c5">&#128681; </span><span class="c18">Fanpage Mezon:</span
      ><span class="c5"
        >&nbsp;</span
      ><span class="c4"
        ><a
          class="c6"
          href="https://www.facebook.com/mezonworld"
          >https://www.facebook.com/mezonworld</a
        ></span
      >
    </p>
    <p class="c8">
      <span class="c5">&#127760; </span><span class="c18">Website Mezon:</span
      ><span class="c5"
        >&nbsp;</span
      ><span class="c4"
        ><a
          class="c6"
          href="https://mezon.ai/"
          >https://mezon.ai/</a
        ></span
      >
    </p>
    <p class="c8">
      <span class="c5">&#128236; </span
      ><span class="c18">Email h&#7895; tr&#7907;:</span
      ><span class="c2">&nbsp;</span>
      <span class="c4"
        ><a class="c6" href="mailto:hello@mezon.ai">hello@mezon.ai</a></span
      >
    </p>
    <p class="c8">
      <span class="c5">&#128222; </span
      ><span class="c18">Hotline li&ecirc;n h&#7879;: </span
      ><span class="c2">024.6687.4606</span>
    </p>
    <p class="c17"><span class="c12 c21"></span></p>
  </div>
