
  <div class="c17 c21 top-five">
    <p class="c0 c7 c16">
      CH&Iacute;NH TH&#7912;C C&Ocirc;NG B&#7888; TOP 5 &#272;&#7896;I THI
        XU&#7844;T S&#7854;C NH&#7844;T 06/2025
    </p>
    <p class="c2">
      <span class="c9">&#128293; MEZON MONTHLY BOT CHALLENGE </span
      ><span class="c5">&nbsp;| BOT BATTLE - POWERED BY </span
      ><span class="c9">MEZON &#128293;</span
      ><span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#127881;"
          src="{{ "flower.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title="" /></span
      ><span class="c1"
        ><br />CAMPUS LIFE BOT &ndash; Code the Future, One Bot at a Time</span
      >
    </p>
    <p class="c2 c13"><span class="c9 c16 c22"></span></p>
    <p class="c2">
      <span class="c1"
        >&#10024; Sau nh&#7919;ng ng&agrave;y thi &#273;&#7845;u ngh&#7865;t
        th&#7903;, &#273;&#7847;y s&aacute;ng t&#7841;o v&agrave; b&ugrave;ng
        n&#7893; &yacute; t&#432;&#7903;ng &#7903; V&ograve;ng 1, cu&#7897;c
        &#273;ua c&ocirc;ng ngh&#7879; kh&#7889;c li&#7879;t &#273;&atilde;
        t&igrave;m ra Top 5 &#273;&#7897;i thi xu&#7845;t s&#7855;c nh&#7845;t
        v&#432;&#417;n m&igrave;nh v&agrave;o V&ograve;ng Chung k&#7871;t
        c&#7911;a cu&#7897;c thi MEZON MONTHLY BOT CHALLENGE &nbsp;</span
      >
    </p>
    <p class="c2 c13"><span class="c9 c16 c22"></span></p>
    <p class="c11">
      <span class="c5 c7"
        >&#128172; Ban T&#7893; ch&#7913;c xin g&#7917;i l&#7901;i ch&uacute;c
        m&#7915;ng n&#7891;ng nhi&#7879;t &#273;&#7871;n c&aacute;c
        &#273;&#7897;i &#273;&atilde; ghi danh v&agrave;o Top 5 danh gi&aacute;!
        Mong r&#7857;ng c&aacute;c b&#7841;n s&#7869; gi&#7919; v&#7919;ng phong
        &#273;&#7897; v&agrave; b&ugrave;ng n&#7893; m&#7841;nh m&#7869;
        h&#417;n n&#7919;a trong ch&#7863;ng &#273;ua &nbsp;&ldquo;chi&#7871;m
        s&oacute;ng&rdquo; c&#7897;ng &#273;&#7891;ng c&ocirc;ng ngh&#7879;
        b&#7857;ng s&#7843;n ph&#7849;m bot c&#7911;a m&igrave;nh s&#7855;p
        t&#7899;i!</span
      >
    </p>
    <p class="c2 c13"><span class="c9 c16 c22"></span></p>
    <p class="c11">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 16px;
          height: 16px;
        "
        ><img
          alt="&#127775;"
          src="{{ "flower.png" | imgUrl }}"
          style="
            width: 16px;
            height: 16px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title="" /></span
      ><span class="c5"
        >V&agrave; kh&ocirc;ng &#273;&#7875; c&aacute;c b&#7841;n ph&#7843;i
        ch&#7901; l&acirc;u th&ecirc;m n&#7919;a, sau &#273;&acirc;y Ban
        t&#7893; ch&#7913;c xin c&ocirc;ng b&#7889; danh s&aacute;ch Top 5
        &#273;&#7897;i thi &#273;&atilde; xu&#7845;t s&#7855;c l&#7885;t
        v&agrave;o V&ograve;ng Chung k&#7871;t Cu&#7897;c thi </span
      ><span class="c9">&nbsp;MEZON MONTHLY BOT CHALLENGE </span
      ><span class="c5 c7"
        >&nbsp;| BOT BATTLE - POWERED BY MEZON | CAMPUS LIFE BOT
      </span>
    </p>
    <p class="c11">
      <span class="c1"
        >1&#65039;&#8419; Mezon Bot Remind &ndash; T&#7841; Th&#7883; Thu
        Hu&#7879;</span
      >
    </p>
    <p class="c11">
      <span class="c1"
        >2&#65039;&#8419; Bot Tr&#7907; l&yacute; Tuy&#7875;n sinh &ndash;
        Ho&agrave;ng Nh&#7845;t Hi&#7871;u</span
      >
    </p>
    <p class="c11">
      <span class="c1"
        >3&#65039;&#8419; Chatbot H&#7895; tr&#7907; h&#7885;c t&#7915;
        v&#7921;ng ti&#7871;ng Anh &ndash; Team TD (L&ecirc; Ph&#432;&#7899;c
        Tuy&#7873;n &amp; Nguy&#7877;n H&#7919;u &#272;&#259;ng)</span
      >
    </p>
    <p class="c11">
      <span class="c1"
        >4&#65039;&#8419; UniPal &ndash; Tr&#7907; l&yacute; &#7843;o
        d&agrave;nh cho sinh vi&ecirc;n &ndash; Team &#8532; (Kh&ocirc;ng
        Hu&#7923;nh Ng&#7885;c H&acirc;n, Nguy&#7877;n H&#7919;u Duy &amp;
        Hu&#7923;nh Ch&iacute; H&ecirc;n)</span
      >
    </p>
    <p class="c11">
      <span class="c1"
        >5&#65039;&#8419; Devhelper-mezon &ndash; Team Thien_Tinh (Nguy&#7877;n
        H&#7919;u Thi&#7879;n &amp; L&ecirc; V&#259;n Trung T&iacute;nh)</span
      >
    </p>
    <p class="c3"><span class="c1"></span></p>
    <p class="c11">
      <span class="c5">&#128144; </span
      ><span class="c0 c19">Ban T&#7893; ch&#7913;c</span
      ><span class="c5 c7"
        >&nbsp;g&#7917;i l&#7901;i c&#7843;m &#417;n s&acirc;u s&#7855;c
        &#273;&#7871;n H&#7897;i &#273;&#7891;ng Gi&aacute;m kh&#7843;o,
        c&aacute;c &#273;&#7897;i thi &#273;&atilde; c&#7889;ng hi&#7871;n
        h&#7871;t m&igrave;nh v&agrave; to&agrave;n th&#7875; c&#7897;ng
        &#273;&#7891;ng y&ecirc;u c&ocirc;ng ngh&#7879; &#273;&atilde;
        &#273;&#7891;ng h&agrave;nh, d&otilde;i theo v&agrave; &#7911;ng
        h&#7897; su&#7889;t th&#7901;i gian qua.</span
      >
    </p>
    <p class="c11">
      <span class="c5">&#127942; </span
      ><span class="c0 c19"
        >Ai s&#7869; l&agrave; &#273;&#7897;i thi &#7845;n t&#432;&#7907;ng
        nh&#7845;t v&agrave; gi&agrave;nh l&#7845;y gi&#7843;i th&#432;&#7903;ng
        danh gi&aacute;?</span
      ><span class="c5 c7"
        >&nbsp;H&atilde;y tham gia b&igrave;nh ch&#7885;n ngay h&ocirc;m nay
        &#273;&#7875; c&ugrave;ng quy&#7871;t &#273;&#7883;nh!</span
      >
    </p>
    <p class="c17 c18">
      <span class="c5 c7">-----------------------------------</span>
    </p>
    <p class="c12">
      <span class="c0"
        >TH&Ocirc;NG TIN CHI TI&#7870;T V&#7872;
        &#119820;&#119812;&#119833;&#119822;&#119821;
        &#119820;&#119822;&#119821;&#119827;&#119815;&#119819;&#119832;
        &#119809;&#119822;&#119827;
        &#119810;&#119815;&#119808;&#119819;&#119819;&#119812;&#119821;&#119814;&#119812;</span
      >
    </p>
    <p class="c14">
      <span class="c9">&#128214; </span
      ><span class="c0">S&#7893; tay th&ocirc;ng tin chi ti&#7871;t</span
      ><span class="c9">: </span
      ><span class="c4 c9 c17"
        ><a
          class="c6"
          href="https://www.google.com/url?q=https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp%3Dsharing&amp;sa=D&amp;source=editors&amp;ust=1752135682027448&amp;usg=AOvVaw1uOoSEWkpKe9pCGtm6Ye_j"
          >https://drive.google.com/file/d/1ubTk9HLzCYlHI9w05JxdhOksh0f31MJG/view?usp=sharing</a
        ></span
      ><span class="c9"><br /><br />&#128204; </span
      ><span class="c0">Th&#7875; l&#7879; chung</span
      ><span class="c9"
        >:<br />
        &ndash; </span
      ><span class="c0">Ch&#7911; &#273;&#7873;</span
      ><span class="c9"
        >: T&#7921; ch&#7885;n T&#7920; DO S&Aacute;NG T&#7840;O <br />
        &ndash; </span
      ><span class="c0">Th&#7901;i gian</span
      ><span class="c9"
        >: Di&#7877;n ra h&agrave;ng th&aacute;ng, t&#7915; ng&agrave;y 01
        &#273;&#7871;n 30/31.<br />
        &ndash; </span
      ><span class="c0">&#272;&#7883;a &#273;i&#7875;m</span
      ><span class="c9"
        >: 100% Online tr&ecirc;n n&#7873;n t&#7843;ng Mezon<br />
        &#128073;</span
      ><span class="c9"
        >&nbsp;</span
      ><span class="c4 c9"
        ><a
          class="c6"
          href="https://mezon.ai/invite/1840696283312951296"
          >https://mezon.ai/invite/1840696283312951296<br /></a></span
      ><span class="c9">&ndash; </span
      ><span class="c0">&#272;&#259;ng k&yacute; t&#7841;i</span
      ><span class="c9">:</span
      ><span class="c0 c4"
        ><a
          class="c6"
          href="https://www.google.com/url?q=https://forms.gle/mkBCxv8rWAPXv6Je8&amp;sa=D&amp;source=editors&amp;ust=1752135682028771&amp;usg=AOvVaw13UZbmiCl8RzOhqevSZZJB"
          >https://forms.gle/mkBCxv8rWAPXv6Je8</a
        ></span
      ><span class="c9"
        ><br />
        &ndash; </span
      ><span class="c0">&#272;&#7889;i t&#432;&#7907;ng tham gia</span
      ><span class="c9"
        >:<br />+ C&aacute; nh&acirc;n ho&#7863;c nh&oacute;m d&#432;&#7899;i 3
        th&agrave;nh vi&ecirc;n<br />+ Sinh vi&ecirc;n to&agrave;n qu&#7889;c
        v&agrave; c&aacute;c </span
      ><span class="c0"
        >fresher d&#432;&#7899;i 1 n&#259;m kinh nghi&#7879;m</span
      ><span class="c9"
        >&nbsp;trong l&#297;nh v&#7921;c c&ocirc;ng ngh&#7879; th&ocirc;ng
        tin</span
      >
    </p>
    <p class="c12"><span class="c1">--------------------------------</span></p>
    <p class="c12">
      <span class="c1">TH&Ocirc;NG TIN LI&Ecirc;N H&#7878;:</span>
    </p>
    <p class="c8">
      <span class="c9">&#128681; Fanpage Mezon:</span
      ><span class="c9"
        >&nbsp;</span
      ><span class="c4 c9"
        ><a
          class="c6"
          href="https://www.facebook.com/mezonworld"
          >https://www.facebook.com/mezonworld</a
        ></span
      >
    </p>
    <p class="c8">
      <span class="c9">&#127760; Website Mezon:</span
      ><span class="c9"
        >&nbsp;</span
      ><span class="c4 c9"
        ><a
          class="c6"
          href="https://mezon.ai/"
          >https://mezon.ai/</a
        ></span
      >
    </p>
    <p class="c8">
      <span class="c9">&#128236; Email h&#7895; tr&#7907;: &nbsp;</span
      ><span class="c4 c9"
        ><a class="c6" href="mailto:hello@mezon.ai">hello@mezon.ai</a></span
      >
    </p>
    <p class="c8">
      <span class="c1"
        >&#128222; Hotline li&ecirc;n h&#7879;: 024.6687.4606</span
      >
    </p>
    <p class="c8 c13"><span class="c1"></span></p>
    <p class="c3"><span class="c5 c7"></span></p>
  </div>
